name: Release
on:
  workflow_dispatch:
  release:
    types: [published]

permissions:
  contents: read

jobs:
  release:
    permissions:
      id-token: write
      contents: read
      attestations: write
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false

    steps:

    - name: Check out repository
      uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4.1.7
      with:
        fetch-depth: 0

    # Install Java.
    - name: Set up JDK
      uses: actions/setup-java@cd89f46ac9d01407894225f350157564c9c7cee2 # v3.12.0
      with:
        distribution: temurin
        java-version: 17
        cache: maven

    - name: Build
      run: |
        ./mvnw clean package

    # Build provenance
    - name: Attest Build Provenance
      uses: actions/attest-build-provenance@bdd51370e0416ac948727f861e03c2f05d32d78e # v1.3.2
      with:
        subject-path: ./*/target/*.jar
